<div class="container-fluid">
<h1>Willkommen in Gartenpaten-Lädchen</h1>
<h2>Hier findest du kleine, aber feine Produkte rund ums ökologische Gärtnern</h2>

<%= image_tag("Front_Cocktail-Postkarte.jpg", class: "img-responsive product-image") %>
</div>
